@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  background-image:url('/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Adjustments for tablets */
@media (max-width: 768px) {
  .backgroundImage {
    background-position: top;
  }
}

/* Adjustments for mobile phones */
@media (max-width: 480px) {
  .backgroundImage {
    background-image: url('/background.png');
  }
}